<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>BackendECommerce.usuario.controller.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>BackendECommerce.usuario.controller.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>BackendECommerce.usuario.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>BackendECommerce.produto.controller.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <servlet-class>BackendECommerce.produto.controller.AdicionarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <servlet-class>BackendECommerce.produto.controller.DeletarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>BackendECommerce.produto.controller.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>BackendECommerce.categoria.controller.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCategoriaServlet</servlet-name>
        <servlet-class>BackendECommerce.categoria.controller.AdicionarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <servlet-class>BackendECommerce.categoria.controller.DeletarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <servlet-class>BackendECommerce.categoria.controller.AtualizarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoServlet</servlet-name>
        <servlet-class>BackendECommerce.carrinho.controller.AdicionarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarProdutoCarrinhoServlet</servlet-name>
        <servlet-class>BackendECommerce.carrinho.controller.DeletarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>BackendECommerce.inicio.controller.InicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoServlet</servlet-name>
        <url-pattern>/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarProdutoServlet</servlet-name>
        <url-pattern>/DeletarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/ListarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarCategoriaServlet</servlet-name>
        <url-pattern>/AdicionarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCategoriaServlet</servlet-name>
        <url-pattern>/DeletarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCategoriaServlet</servlet-name>
        <url-pattern>/AtualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/AdicionarProdutoCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/DeletarProdutoCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
